@import './tamplateColor.scss';

@font-face {
    font-family: 'HarmonyOS_Sans';
    src: url('../../public/fonts/harmonyos-sans/HarmonyOS_Sans_Regular.ttf');
    /* додаткові формати шрифту */
  }

  .body_wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    // overflow-x: hidden;
  }

  .head_goods{
    display: flex;
    max-width: 1442px;
    flex-direction: column;
    align-items: center;
  }

  .block_sell{
    display: flex;
    width: 80%;
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color_text_disab;
    justify-content: center;
    title{
        display: flex;
        flex: 0 auto;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        .title_first{
            background: #fff !important;
            font-family: 'HarmonyOS_Sans', sans-serif;  
            font-size: 40px;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            font-family: 'HarmonyOS_Sans', sans-serif;
            line-height: 1.5;
            padding-bottom: 15px;
            width: 90%;
        }
        a{
            padding-bottom: 20px;
            color: $color_text_disab;
            position: relative;

            button{
                width: 50%;
                height: 50px;
                border-radius: 50px;
                background: #b68bf2;
                border: 1px solid #bd8bff;
                transition: all 0.4s ease-in-out;
                color: #fff;
                box-shadow: inset 0px 1px 15px 13px rgba(82, 82, 82, 0.12), inset 0px 17px 21px rgba(255, 255, 255, 0.44);
                &:hover{
                    border: 1px solid $color_prime;
                    color: $color_prime;
                }
                &:active {
                    transform: scale(0.97);
                  }
            }
        }

    }
    img{
        width: auto; 
        
    }
  }

.block_buy{
    display: flex;
    justify-content: center;
    
}

.left{
    justify-content: left;
    text-decoration: underline;
    transition: all 0.4s ease-in-out;
    &:hover{
        color: $color_prime ;
    }
}



.banner_wrap{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 58.33333333%;
    align-items: center;
}

.descript{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    flex-wrap: wrap;
    max-width: 830px;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid $color_text_disab;
    

    li{
        width: 200px;
        height: 32px;
        display: flex;
        margin: 5px;
        img{
            width: 32px;
            height: 32px;

        }
        p{
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 14px;
            font-family: 'HarmonyOS_Sans', sans-serif;
            color: $color_text_disab;
            margin-left: 10px;
        }
    }
}

.title_price_wrap{
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 0 50px;
    
    h1{
        font-size: 40px;
        font-family: 'HarmonyOS_Sans', sans-serif;
        padding-bottom: 10px;
    }

    button{
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background: #b68bf2;
        border: 1px solid #bd8bff;
        transition: all 0.4s ease-in-out;
        color: #fff;
        box-shadow: inset 0px 1px 15px 13px rgba(82, 82, 82, 0.12), inset 0px 17px 21px rgba(255, 255, 255, 0.44);
        &:hover{
            border: 1px solid $color_prime;
            color: $color_prime;
        }
        &:active {
            transform: scale(0.97);
          }
    }
}






.reviews_wrap{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid $color_text_disab;
    
}

.star{
    margin-right: 10px;
    img{
        width: 16px;
        height: 16px;
    }
}

.ask{
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: $color_text_disab;
        left: -5px;
    }
    img{
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
}

.price_wrap{
    padding-top: 25px;
    font-size: 14px;
    
    .price_title{
        font-family: 'HarmonyOS_Sans', sans-serif;
        color: $color_text_disab;
        margin-bottom: 30px;
        
    }



    .price{
        font-family: 'HarmonyOS_Sans', sans-serif;
        font-size: 34px;
        margin-top: 10px;

    }

    .price_old{
        font-size: 24px;
        color: rgb(97, 97, 97);
        font-weight: 500;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 118px;
            rotate: -10deg;
            height: 3px;
            border-radius: 20px;
            background: #fc0404dc;
            left: -5px;
            top: 40%;
            z-index: 100;
        }
    }

    .price_new{

        color: $color_prime;
        font-weight: 700;

    }
}

.pay_deliv{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;

    .pay{
        padding-bottom: 25px;
        position: relative;
        border-bottom: 1px solid $color_text_disab;
        img{
            margin-right: 10px;
        }
    }

    .delivery{
        margin-top: 25px;
        li{
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            img{
                margin-right: 10px;
                width: 24px;
                height: 24px;
            }

        }
    }
}


@media (max-width: 1000px){
    .block_sell{
        flex-direction: column;
        justify-content: center;
        title{
            width: 100%;
            h2{

            }
            p{

            }
            a{

                padding: 10px 0;
                
                button{
                    width: 80%;
                    margin-bottom: 10px;
                    &:hover{

                    }
                    &:active {
                        
                      }
                }
            }
    
        }
        img{
            width: auto; 
            
        }
      }

      .title_price_wrap {
        padding: 0 20px;
    }

        .price_wrap{

            
            .price_title{

                
            }
        
            .price{
        
            }
            .price_old{

                &::before{
                    left: -5px;
                    top: 62%;

                }
            }
        
            .price_new{
                padding-top: 30px;
                color: $color_prime;
                font-weight: 700;
        
            }
        }
    

    .second_photo{
        img{
            
            width: 80px;
        }
    }
}


@media (max-width: 950px){

    
    .second_photo{
        img{
            
            width: 60px;
        }
    }
    .title_price_wrap{
        h1{
            font-size: 27px;
        }
    }

    .star {
        img {
        width: 10px;
        }
    }

    .reviews{
        font-size: 12px;
    }
    .ask{
         img{
            width: 12px;
         }
         p{
            font-size: 12px;
         }
    }

    .price{
        padding-top: 15px;
    }
}

@media (max-width: 850px){
    .title_price_wrap{
        h1{
            font-size: 22px;
        }
    }

    .star {
        img {
        width: 8px;
        }
    }

    .reviews{
        font-size: 10px;
    }
    .ask{
         img{
            width: 10px;
         }
         p{
            font-size: 12px;
         }
    }
}


@media (max-width: 722px){

    .block_sell{
        title  {
            h2 {
            font-size: 30px;
            }
            p{
                font-size: 14px;
            }
        }
    }

    .title_price_wrap{
        h1{
            font-size: 18px;
        }
    }

    .price_title{
        font-size: 12px;
    }

    .star {
        img {
        width: 6px;
        }
    }

    .reviews{
        font-size: 9px;
    }

    .ask{
        img{
           width: 8px;
        }
        p{
           font-size: 9px;
        }
   }

   .slide_wrap {
    padding-bottom: 25px;
    }
    .reviews_wrap {
        padding-bottom: 15px;
    }
    .descript{
        padding-top: 25px;
        li {
            width: 33%;
            height: 32px;
            display: flex;
            margin: 5px;
        }
    }
    .second_photo{
        img{
            
            width: 50px;
        }
    }
}

@media (max-width: 600px){
    .block_sell{
        // padding-bottom: 50px;

    }
    .block_buy {
        flex-direction: column;
        align-items: center;
    }
    .banner_wrap{
        width: 100%;
    }
    .second_photo{
        img{
            width: 80px;
        }
    }

    .descript{ 
        width: 80%;
        padding: 25px 0;
        li {
        width: 31%;
        height: 32px;
        display: flex;
        margin: 5px;
    }}

    .title_price_wrap {
        width: 80%;
        padding-top: 20px;
        h1{
            font-size: 24px;
            text-align: center;
        }
    }

    .reviews_wrap{
        width: 100%;
        justify-content: center;
        .star{
            img{
                width: 12px;
            }
        }
        .reviews{
            font-size: 14px;
        }
        .ask{
            img{
                width: 12px;
            }
            p{
                font-size: 14px;  
            }
        }
    }

    .price_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .price_title{
            padding-bottom: 20px;
        }
        .price{
            margin: 0;
            padding: 10px 0 0 0;
        }
        .price_new{
            margin: 10px 0;
            padding: 10px 0 0 0;
        }
    }
    .pay {
        display: flex;
        padding-bottom: 25px;
        position: relative;
        border-bottom: 1px solid #999999;
        align-items: center;
        justify-content: center;
    }

    .pay_deliv .delivery {
        margin-top: 25px;
        display: flex;
    }
}

@media (max-width: 510px){
    .block_sell{

    }
    .block_buy {

    }
    .banner_wrap{

    }
    .second_photo{
        img{
            width: 50px;
        }
    }

    .descript{ 

        li {

    }}

    .title_price_wrap {

        h1{

        }
    }

    .reviews_wrap{

        .star{
            img{

            }
        }
        .reviews{

        }
        .ask{
            img{

            }
            p{

            }
        }
    }

    .price_wrap{
        .price_title{
            width: 50%;
        }

        .price{

        }
    }
    .pay {

    }

    .pay_deliv .delivery {

    }
    .pay_deliv {
        .delivery {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;}


    }
}


@media (max-width: 350px){
    .block_sell{
        title{
            h2{
                text-align: center;
            }
            p{
                text-align: center;
            }
            .left{
                text-align: center;
            }
        }
    }

    .title_price_wrap {
        width: 95%;
        padding-top: 20px;
        .reviews_wrap {
            .star{ 
            img {
            width: 10px;}}
        }
    }


}