@import './tamplateColor.scss';

@font-face {
    font-family: 'HarmonyOS_Sans';
    src: url('../../public/fonts/harmonyos-sans/HarmonyOS_Sans_Regular.ttf');
    /* додаткові формати шрифту */
  }

  .description{
    display: flex;
    width: 100%;
    padding-top: 100px;
    flex-direction: column;
    overflow-x: hidden;
    

    title{
        display: flex;
        height: 100px;
        width: 100%;
        // padding: 0px 0;
        h2{
            width: 100%;
            text-align: center;
            // background: #e6e6e6;
            color: $color_prime;
            font-family: 'HarmonyOS_Sans', sans-serif;  
            font-size: 68px;
            padding: 20px 0;
        }
    }
  }

  .goods_item{
    position: relative;
    
    img{
        width: 100%;
    }
  }

  .goods_tittle{
    // display: flex;
    position: absolute;
    width: 520px;
    left: 20%;
    top: 40%;
    // width: 80%;
    h3{
        font-family: 'HarmonyOS_Sans', sans-serif;  
        font-size: 68px;
        line-height: 1.3;
    }
    p{
        font-size: 18px;
        padding-top: 30px;
        width: 60%;
        line-height: 1.5;
    }
  }



  .second_block{
    
    .goods_tittle{
        left: 20%;
        top: 20%;
    }
  }
  .p_block_two{
    width: 80% !important;
  }


  .third_block{
    .goods_tittle{
        left: 20%;
        top: 20%;
    }
  }

  .fourth_block{
    .goods_tittle{
        left: 10%;
        top: 10%;
    }
  }


  .fifth_block{
    .goods_tittle{
        left: 10%;
        top: 10%;
    }
  }


  .video_block{
    width: 100%;
    h3{
        width: 100%;
        font-family: 'HarmonyOS_Sans', sans-serif;  
        font-size: 68px;
        line-height: 1.3;
        text-align: center;
        color: $color_prime;
        font-family: 'HarmonyOS_Sans', sans-serif;  
        padding: 20px 0;
    }
    video{
        width: 100%;
    }
  }

.specifications{
    padding: 50px 10%;
    // padding-bottom: 50px;
    h3{
        width: 100%;
        font-family: 'HarmonyOS_Sans', sans-serif;  
        font-size: 40px;
        line-height: 1.3;
        text-align: left;
        color: $color_text;
        font-family: 'HarmonyOS_Sans', sans-serif;  
        padding: 20px 0; 
    }
    .specifications_tabl{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .tabl_item{
            width: 40%;
            padding-bottom: 30px;
            border-bottom: 1px solid $color_text_disab;
            
            h4{
                font-family: 'HarmonyOS_Sans', sans-serif; 
                font-size: 24px; 
                font-weight: 600;
                padding: 0 0 12px 0;
            }

            ul{
                li{
                    font-family: 'HarmonyOS_Sans', sans-serif; 
                    font-size: 14px; 
                    font-weight: 400; 
                    line-height: 1.2;
                }
            }
        }
    }
}


a{
    padding: 40px 0;
    color: $color_text_disab;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    button{
        width: 40%;
        height: 50px;
        border-radius: 50px;
        background: #fff;
        border: 1px solid $color_text_disab;
        transition: all 0.4s ease-in-out;
        color: $color_text;
        &:hover{
            border: 1px solid $color_prime;
            color: $color_prime;
            // background: $color_prime ;
        }
        &:active {
            transform: scale(0.97);
          }
    }
}

.mod{
    display: flex;
    width: 80%;
    .block_left{
        flex: 60%;
        p{
            width: 40% !important;
        }
    }
    .block_right{
        flex: 40%;
        
        h3{
            width: 100%;
        }
    }
  }


@media (max-width: 1400px){
    .goods_tittle { 
        h3 {
        font-family: "HarmonyOS_Sans", sans-serif;
        font-size: 45px;
        line-height: 1.3;
    }}
}

@media (max-width: 1200px){
    .first_block{    
        .goods_tittle { 
        left: 10%;
        h3 {
        font-family: "HarmonyOS_Sans", sans-serif;
        font-size: 35px;
        line-height: 1.3;
    }}}

    .second_block{
        .goods_tittle {
            left: 10%;
            top: 20%;
        }

    }
    .third_block{
        .goods_tittle {
            left: 10%;
            top: 20%;
        }

    }
    .fourth_block{
        .goods_tittle {
            // left: 10%;
            top: 5%;
        }

    }
    .fifth_block{
        .goods_tittle {
            // left: 10%;
            top: 5%;
        }

    }
}
@media (max-width: 1000px){

    .first_block{    
        .goods_tittle { 
            h3 {
            font-family: "HarmonyOS_Sans", sans-serif;
            font-size: 25px;
            line-height: 1.3;
            }
        }
        p {
            font-size: 16px;
            padding-top: 10px;
        }
    }
    .second_block{    
        .goods_tittle { 
            h3 {
            font-family: "HarmonyOS_Sans", sans-serif;
            font-size: 25px;
            line-height: 1.3;
            }
        }
        p {
            font-size: 16px;
            padding-top: 10px;
        }
    }
    .third_block{    
        .goods_tittle {
             
            h3 {
            font-family: "HarmonyOS_Sans", sans-serif;
            font-size: 25px;
            line-height: 1.3;
            }
        }
        p {
            font-size: 15px;
            padding-top: 10px;
        }
    }
    .fourth_block{
        .goods_tittle {
            // left: 10%;
            top: 5%;
        }
        h3{
            font-size: 32px;
        }
        .mod {
            .block_left{
            p{
            font-size: 16px;
            width: 64% !important;
            }}}

    }
    .fifth_block{
        .goods_tittle {
            // left: 10%;
            top: 5%;
        }
        h3{
            font-size: 32px;
        }
        .mod {
            .block_left{
            p{
            font-size: 16px;
            width: 64% !important;
            }}}


    }
}


@media (max-width: 950px){
    .first_block{
        .goods_tittle {
        left: 4%;
        top: 40%;
        }
    }
    .second_block{
        .goods_tittle {
        left: 4%;
        top: 40%;
        }
    }
    .third_block{
        .goods_tittle {
        left: 4%;
        top: 40%;
        }
    }
    .mod {
        display: flex;
        width: 90%;
    }
    .fourth_block {
        .goods_tittle {
        left: 4%;
        top: 10%;}
    }
    .fifth_block {
        .goods_tittle {
        left: 4%;
        top: 10%;}
    }

    .specifications{
        h3{
            font-size: 32px;
        }
    }
}

@media (max-width: 750px){
    .first_block{
        .goods_tittle {
        left: 4%;
        top: 65%;
        }
    }
    .second_block{
        .goods_tittle {
        left: 4%;
        top: 60%;
        }
    }
    .third_block{
        .goods_tittle {
        left: 4%;
        top: 60%;
        }
    }
    .mod {
        display: flex;
        width: 90%;
    }
    .fourth_block {
        .goods_tittle {
        left: 4%;
        top: 6%;}
        .mod{  
        .block_left{
            p{
               padding-top: 10px;
               font-size: 12px; 
        }     
            
        }}

    }
    .fifth_block {
        .goods_tittle {
            left: 4%;
            top: 6%;}
            .mod{  
            .block_left{
                p{
                   padding-top: 10px;
                   font-size: 12px; 
            }     
                
            }}
    }

    .specifications {
        padding: 20px 5%;
    }
}


@media (max-width: 680px){

    title{
        h2{
            background: #e8e8e87b; 
        }
    }

    .goods_tittle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative ;
        width: 100%;
        padding: 20px 0;
        margin: 0;
        left: 0;
        background: #e8e8e87b;
        p{
            text-align: center;
        }
    }
    
    .first_block{
        .goods_tittle {
        left: 0;
        top: 0;
        }
    }
    .second_block{
        .goods_tittle {
        left:0;
        top: 0;
        }
    }
    .third_block{
        .goods_tittle {
        left: 0;
        top: 0;
        }
    }

    .fourth_block {
        .goods_tittle {
        left: 0;
        top: 0;            
        }
        .block_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 100% 1;
        }

        .block_right{
            padding-top: 10px;
        }

    }
    .fifth_block {
        .goods_tittle 
        {
            left: 0;
            top: 0;
        }
        .block_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 100% 1;
        }

        .block_right{
            padding-top: 10px;
        }
        }

        .video_block{
            padding-top: 10px;
            background: #e8e8e87b;
            h3{
                font-size: 50px;
            }
        }

        .specifications {
            .specifications_tabl{
                flex-direction: column;
                .tabl_item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    h4{
                        font-size: 34px;
                    }
                    ul{
                        li{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

}

@media (max-width: 510px){

}

@media (max-width: 350px){

}